body {
    background-color: #0A0B0B;
}

nav {
    background-color: #0A0B0B;
    padding: 6rem !important;
}
  
.btn-outline-warning {
    border-color: gold;
    color: gold;
    font-size: 1.1em !important;
    border-radius: 0px !important;
    padding: 12px !important;
    margin-bottom: 5em !important;
    width: 14.5em;
}
  
  .btn-outline-warning:hover {
    background-color: #E4BE4A !important;
    color: white !important;
    transition: 0.5s;
  }
  
  .nav-link {
    color: #fff !important;
    font-size: 1.1em !important;
    padding: 0 1.2rem !important;
    margin-top: 1em !important;
    font-weight: 500 !important;
    padding-bottom: 1em !important;
  }
  .logos {
    padding-bottom: 5em !important;
  }
  
.img-title {
    background-image: url(/imgs/cupcakesssss.jpeg);
    background-position: center center;
    background-size: 100%;
    padding: 15em;
}
.cupcake-h1 {
    font-family: "Poiret One", sans-serif;
    font-weight: 100;
    font-size: 5em;
    width: 10em;
}

.btn-title {
    background-color: #E4BE4A;
    border-color: transparent;
    color: #0A0B0B;
    padding: 1.3em;
    width: 12em;
    margin-top: 1.8em;
}
.btn-title:hover {
    background-color: #0A0B0B !important;
    color: #E4BE4A !important;
    border-color: #E4BE4A;
    border-width: 1px;
    transition: 0.5s;
}

.links-pad {
    padding-left: 10em !important;
}
.navbar-brand {
    padding-left: 7em !important;
}

.food {
    background-color: #0A0B0B;
    padding: 7em;
}
.food-h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Poiret One", sans-serif;
    color: white;
    text-align: center;
    width: 18em;
    line-height: 1.5em;
    font-weight: 100;
    font-size: 2.9em;
}

.firstpart-h1{
    color: #E4BE4A;
    font-family: "Poiret One", sans-serif;
    font-size: 1.7em;
    width: 17em;
}
.firstpart-para{
    color: white;
    width: 35em;
    font-weight: 100;
    font-size: 17px;
}
.gold-line-container{
    padding: 2em;
}
.gold-line {
    width: 100px;   
    height: 2px;           
    background: #E4BE4A;  
    border-radius: 2px;  
    justify-content: center;
    display: flex; 
  }

.container-food{
    display: flex;
    justify-content: center;
    gap: 2.5em;
}
  
.div-line {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container-loop {
    display: flex;
    background-color: #0A0B0B;
    align-items: center;
    justify-content: center;
    gap: 2em;
}

.p-pan, .p-hand, .p-brown {
    color: white;
    font-family: "Poiret One", sans-serif;
    font-size: 1.7em;
    padding-top: 0.5em;
}
.price {
    color: #E4BE4A;
    font-family: "Quicksand", sans-serif;
    font-size: 1.4em;
    font-weight: 100;
}
.arrow-left {
    cursor: pointer;
}
.arrow-right {
    cursor: pointer;
}

.container-hand {
    background-color: #0A0B0B;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7em;
}

.img-hand {
    width: 1360px;
    height: 750px;
    cursor: pointer;
}

.container-blog{
    background-color: #0A0B0B;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 65em;
}

.blog-title {
    color: #fff;
    font-family: "Poiret One", sans-serif;
    font-size: 2.9em;
}

.two-pics {
    background-color: #0A0B0B;
    display: flex;
    padding-top: 7em;
    gap: 3em;
    justify-content: center;
    align-items: center;
}

.first-pic {
    display: flex;
}

.border1{
    padding: 3em;
    width: 25em;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(62, 62, 62);
}

.sec-pic { 
    display: flex;
}

.b-h1{
    color: #E4BE4A;
    font-family: "Poiret One", sans-serif;
    font-size: 1.9em;
    font-weight: bold;
    position: relative;
    top: 30px;
}
.b-p {
    color: white;
    position: relative;
    top: 30px;
}

.border2{
    padding: 3em;
    width: 25em;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(62, 62, 62);
}

.btn-b {
    border: none; 
    border-bottom: 2px solid #E4BE4A;
    background-color: transparent;
    color: #E4BE4A;
    position: relative;
    top: 30px;
}

.follow {
    background-color:#0A0B0B;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 9em;
}

.follow-h1 {
    color: white;
    font-family: "Poiret One", sans-serif;
    font-size: 3em;
}
.follow-btn {
    background-color: #0A0B0B;
    color: #E4BE4A;
    border-color: #E4BE4A;
    padding: 1em;
    border-width: 1px;
    font-size: 1.1em;
    width: 9.5em;
    position: relative;
    top: 30px;
}

.before-footer {
    background-color: #0A0B0B;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
}



.footer {
    background-color: #0A0B0B;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 48em ;
    padding: 4em;
}
#link-f{
    
    color: #fff;
    text-decoration: none;
    gap: 0em !important;
}

.linkss{
    display: flex;
    gap: 2.4em;
    font-size: 1.1em;
    font-weight: 400;
}

.white-line {
    width: 5000px;   
    height: 2px;           
    background: #393939;  
    border-radius: 2px;  
    justify-content: center;
    display: flex; 
  }


.footer-2{
    background-color: #0A0B0B;
}
.btns{
    background-color: #0A0B0B;
    color: #fff ;
}

